$button_color: #c70101;

@import 'blocks/header';
@import 'blocks/block-1';
@import 'blocks/buttons';
@import 'blocks/subheaders';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/input';
@import 'blocks/slider';
@import 'blocks/catalog-item';
@import 'blocks/catalog';
@import 'blocks/review';
@import 'blocks/map';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}