.slider {
    height: 580px;
    position: relative;
    width: 750px;
    margin: 0 auto;
    .slick-prev, .slick-next {
        border: none;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -65px;
    }
    .slick-next {
        left: auto;
        right: -65px;
    }
    &__el {
        img {
            margin: 0 auto;
            width: 100%;
        }
    }
}
.pulsometr {
    padding: 110px 0;
}